* {
    margin: 0;
    padding: 0;
  }
  body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7em;
    background-color: antiquewhite;
  }
  a {
    text-decoration:dotted;
    color: coral;
  }




h1,
h2,
h3 {
  padding-bottom: 20px;
}

h1{
  color: darkslateblue;
  font-size: 24px;
}

h2{
  color:darkolivegreen;
  font-size: 20px;
}

.contacto{
  margin: 15px;
  padding:20px;
  border-radius: 5px solid black;
  background: linear-gradient(to right, red, blue);
  box-shadow: 0 0 5px #888;
}

.intro{
  margin: 15px;
  padding:20px;
  border-radius: 10px solid black;
  background: linear-gradient(to right, blue, violet);
  box-shadow: 0 0 5px #888;
}

.datos{
  margin: 15px;
  padding:20px;
  border-radius: 5px solid black;
  background: linear-gradient(to left, violet, pink);
  box-shadow: 0 0 5px #888;
}

.centered{
  text-align: center;
}

#cover{
  height: 300px;
  width: 300px;
  padding: 15px 15px;
  border-radius: 300px;
  border-color: aquamarine;

}
