.contenedor {
  border: 2px solid #000;
  width: 450px;
  height: 450px;
  margin: 0 auto;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.item {
  width: 150px;
  height: 150px;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.item:first-child {
  background-color: red;
}

.item:nth-child(2) {
  background-color: blue;
}

.item:last-child {
  background-color: green;
}
